@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --green-light: #598f6a;
  --orange-light: #752a1e;
  --dark: #131313;
  --menu-height: 65px;
}

* {
  box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

html,
body {
  margin: 0;
  background-color: var(--dark);
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  color: white;
}

.title-green {
  color: var(--green-light);
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 22px;
}

header {
  height: calc(100vh - var(--menu-height));
  display: flex;
  align-items: center;
}

header .container {
  width: 50%;
  padding: 0 100px;
  height: fit-content;
}

header .container img {
  display: none;
}

header .container h1 {
  margin: 0px;
}

header .container b {
  color: var(--green-light);
}

button {
  background-color: var(--green-light);
  border: 0;
  padding: 8px 35px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
}

nav {
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
  background-color: var(--dark);
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  font-size: 24px;
  color: var(--green-light);
  text-decoration: none;
}

nav ul a svg {
  display: none;
}

.about-me {
  padding: 100px;
  display: flex;
}
.about-me .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me .image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me .image-container img {
  width: 70%;
  max-width: 350px;
}

/* Responsividade */

/* Small Desktop */
@media (max-width: 1000px) {
  header .container,
  nav {
    width: 100%;
  }
}

/*Tablet*/
@media (max-width: 767px) {
  header .container img {
    display: inline;
    margin-bottom: 70px;
  }

  nav img {
    display: none;
  }

  nav ul {
    padding: 0;
  }

  nav ul a {
    font-size: 15px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me .container,
  .about-me .image-container {
    width: 100%;
  }

  .about-me .image-container img {
    padding: 50px 0;
  }
}

/*Celular*/
@media (max-width: 480px) {
  header .container {
    padding: 0 30px;
  }

  nav {
    padding: 0 15px;
    position: fixed;
    top: unset;
    bottom: 0;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 8px;
  }

  nav ul a {
    font-size: 12px;
  }

  .about-me {
    padding: 30px;
  }
}
